# Ignore Python cache files
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Ignore logs
logs/
*.log

# Ignore output folder
output/

# Ignore the config.yaml
config.yaml

# ignore .env
.env

# ignore csv files
*.csv
